@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap');
@import "tailwindcss";

@theme {
  --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif;
  --color-apple-gray: #f5f5f7;
  --color-apple-text: #1d1d1f;
  --color-dark-green: #064e4b;
  --color-aura-gold: #c5a059;
  --color-apple-blue: #0071e3;
}

@layer base {
  body {
    @apply font-sans bg-apple-gray text-apple-text antialiased;
  }
}
